@model IEnumerable<Lab3.Models.PartidoFecha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.noPartido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPartido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.noPartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
